<div class="catalog-container">
  <mat-card
    class="plant-card"
    *ngFor="let plant of plants"
    appearance="outlined"
  >
    <mat-card-header>
      <div
        mat-card-avatar
        class="category-icon"
        [ngStyle]="{
          'background-image':
            'url(' +
            (icons[plant.categoria] || 'assets/imgs/categoria/arvore.jpg') +
            ')'
        }"
      ></div>
      <mat-card-title>
        {{ plant[currentLanguage]?.nome_popular || "Name not available" }}
      </mat-card-title>

      <mat-card-subtitle>{{ plant.nome_cientifico }}</mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      [src]="'assets/qrcodes/' + plant.key + '.png'"
      [alt]="'QR Code for ' + (plant[currentLanguage]?.nome_popular || 'Plant')"
    />

    <mat-card-content>
      <!-- Wrapped Markdown in a div with a class for styling -->
      <div class="markdown-content" *ngIf="markdownVisible">
        <markdown>
          {{ plant[currentLanguage]?.descricao || "Description not available" }}
        </markdown>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="end_page_button" routerLink="/sobre">
  <span
    class="material-symbols-outlined"
    matTooltip="{{ 'CATALOG_PANEL.ABOUT' | translate }}"
  >
    contact_support
  </span>
  <span class="end_page_text">{{ "CATALOG_PANEL.ABOUT" | translate }}</span>
</div>

<div class="end_page_button" routerLink="/">
  <span
    class="material-symbols-outlined"
    matTooltip="{{ 'CATALOG_DETAILS.BACK' | translate }}"
  >
    arrow_back
  </span>
  <span class="end_page_text">{{ "CATALOG_DETAILS.BACK" | translate }}</span>
</div>
