<div class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Sobre o Projeto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        O <strong>Flora Hub</strong> é um projeto de extensão universitária
        desenvolvido por
        <a href="https://www.linkedin.com/in/biagolini/" target="_blank">
          Carlos Biagolini-Jr. </a
        >.
      </p>
      <p>
        A iniciativa surgiu no primeiro semestre de 2025, quando Carlos estava
        em busca de um projeto de extensão universitária. Seu pai,
        <strong>Prof. Carlos Biagolini</strong>, professor na
        <strong>Escola Estadual Prof. Maria Augusta de Ávila</strong>, já havia
        comentado sobre a ideia de catalogar as plantas do jardim da escola, em
        conversa com o diretor <strong>Manoel Ricardo Severo</strong>.
      </p>
      <p>
        A partir dessa ideia inicial, surgiu a ideia de criar um catálogo
        digital, utilizando tecnologia para ampliar o alcance e facilitar o
        acesso às informações sobre as espécies presentes no jardim da escola.
      </p>
      <mat-divider></mat-divider>
      <h3>Objetivos do Projeto</h3>
      <ul>
        <li>Fomentar a integração dos alunos e comunidade.</li>
        <li>Ensinar conceitos de botânica de forma interativa.</li>
        <li>
          Despertar o interesse por idiomas através da tradução dos conteúdos.
        </li>
        <li>
          Utilizar inteligência artificial para narrar as descrições das
          plantas.
        </li>
        <li>Incentivar o uso de ferramentas open-source.</li>
      </ul>
      <mat-divider></mat-divider>
      <h3>Aberto para a Comunidade</h3>
      <p>
        O <strong>Flora Hub</strong> é um projeto
        <strong>100% open-source</strong>, permitindo que qualquer pessoa
        contribua com melhorias. O código-fonte está disponível no GitHub:
        <a href="https://github.com/biagolini/FloraHub" target="_blank"
          >FloraHub no GitHub</a
        >.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="end_page_button" routerLink="/">
  <span
    class="material-symbols-outlined"
    matTooltip="{{ 'CATALOG_DETAILS.BACK' | translate }}"
  >
    arrow_back
  </span>
  <span class="end_page_text">{{ "CATALOG_DETAILS.BACK" | translate }}</span>
</div>
